[submodule "frame-development/substrate-frontend-template"]
	path = frame-development/substrate-frontend-template
	url = https://github.com/sonhnguyenn/substrate-front-end-template.git
	branch = frame-development

[submodule "frame-development/substrate-node-template"]
	path = frame-development/substrate-node-template
	url = https://github.com/sonhnguyenn/substrate-node-template.git
	branch = frame-development

[submodule "frame-multisig/substrate-front-end-template"]
	path = frame-multisig/substrate-front-end-template
	url = https://github.com/sonhnguyenn/substrate-front-end-template.git
	branch = frame-multisig

[submodule "frame-multisig/substrate-node-template"]
	path = frame-multisig/substrate-node-template
	url = https://github.com/sonhnguyenn/substrate-node-template.git
	branch = frame-multisig
